<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c89c1fe4-e63f-48e8-9a11-c7a9a99608f5&lang=ru_RU" type="text/javascript"></script>
    <title>GeoReviews</title>
</head>
<body>
    <div class="container">
        <div class="maps" id="maps"></div>
    </div>
    <div class="create"></div>
    <script type="text/x-handlebars-template" id="overlay">
        {{> "./src/template/modal.hbs"}}
    </script>
    <script type="text/x-handlebars-template" id="otziv">
        {{> "./src/template/reviews.hbs"}}
    </script>
</body>
</html>