{{#each this}}
    <li class="reviews-item">
        <span class="reviews-item__name"><strong>{{ name }}</strong></span>
        <span class="reviews-item__place">{{ place }}</span>
        <span class="reviews-item__date">{{ dateModal }}</span><br>
        <span class="reviews-item__area">{{ area }}</span>
    </li>
{{/each}}